

/*Bootstrap override*/


.jumbotron{
	background-color: #379184;
}

.jumbotron-start{
	background-image: url("/static/spacecat.jpg");
	background-size: cover;
	background-position: center;
}


.jumbotron-heading{
	font-size: 68px;
	color:#fff;
	-webkit-text-stroke: 2px #29695F;
}

.jumbotron .text-muted {
	color: #fff !important;
}

.text-muted-start{
	background-color: black;
	opacity: 0.8;
	padding: 8px;
}

.navbar{
	    background-color: #eceeef;
    border-bottom: 2px solid #ccc;

}

.navbar-brand{
	color: #379184;
	font-weight: 400px;
}

.navbar-brand:hover {
	color: #29695F;
}


/*OWN*/

html, body, .container {
	height: 100%;
	text-align: center;
}
.primecolor{
background-color: #379184;
}

.iframe-border{
	border: 6px solid #29695F;
}

.img-circle{
		border: 6px solid #29695F;
}


.quizcards{
	text-align: center;
	padding: 24px;
}

.quizcards, h2{
	font-size: 1.5rem;
	padding: 20px;
	color: #379184; 
}



.btn-answer{
	min-width: 300px;
	padding: 20px;
	background-color: #379184;
	border-color: #379184;
	color: #fff;
	margin-bottom: 12px;
}

.btn-answer:hover{
	background-color: #29695F;
	color: #fff;
}

.btn-answer:active{
	background-color: #29695F;
	color: #fff;
}

input[type="radio"]{
    visibility:hidden;
}

